In [2]:
library('dplyr')
library(nycflights13)
print(flights)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'nycflights13' was built under R version 3.6.3"

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [7]:
#1
print(filter( flights, month ==7 | day == 3))

# A tibble: 39,653 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     3       32           2359        33      504            442
 2  2013     1     3       50           2145       185      203           2311
 3  2013     1     3      235           2359       156      700            437
 4  2013     1     3      458            500        -2      650            650
 5  2013     1     3      520            525        -5      830            820
 6  2013     1     3      532            530         2      851            831
 7  2013     1     3      535            540        -5      835            850
 8  2013     1     3      543            545        -2     1009           1022
 9  2013     1     3      550            600       -10      843            846
10  2013     1     3      552            600        -8      759            801
# ... with 39,643 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [6]:
#2
print(select(flights, dep_time, arr_time, flight))

# A tibble: 336,776 x 3
   dep_time arr_time flight
      <int>    <int>  <int>
 1      517      830   1545
 2      533      850   1714
 3      542      923   1141
 4      544     1004    725
 5      554      812    461
 6      554      740   1696
 7      555      913    507
 8      557      709   5708
 9      557      838     79
10      558      753    301
# ... with 336,766 more rows

In [5]:
#3
print(flights %>% select(dep_time,arr_time,flight) %>% filter(dep_time > 700))

# A tibble: 296,563 x 3
   dep_time arr_time flight
      <int>    <int>  <int>
 1      701     1123   1203
 2      702     1058    671
 3      709      852   1092
 4      711     1151    715
 5      712     1023    825
 6      715      911    544
 7      717      850    850
 8      719     1017    987
 9      723     1013    962
10      724     1111    715
# ... with 296,553 more rows

In [10]:
#4
flights %>%
select(distance, air_time) %>%
mutate(speed=distance/air_time*60)
df1=flights%>%select(distance,air_time,speed)%>%arrange(speed)
print(df1)

       distance air_time speed
1      1400     227      370.0441
2      1416     227      374.2731
3      1089     160      408.3750
4      1576     183      516.7213
5       762     116      394.1379
6       719     150      287.6000
7      1065     158      404.4304
8       229      53      259.2453
9       944     140      404.5714
10      733     138      318.6957
11     1028     149      413.9597
12     1005     158      381.6456
13     2475     345      430.4348
14     2565     361      426.3158
15     1389     257      324.2802
16      187      44      255.0000
17     2227     337      396.4985
18     1076     152      424.7368
19      762     134      341.1940
20     1023     147      417.5510
21     1020     170      360.0000
22      502     105      286.8571
23     1085     152      428.2895
24      760     128      356.2500
25     1085     157      414.6497
26      719     139      310.3597
27     2586     366      423.9344
28     1074     175      368.2286
29     1598     182      526.8132
30      746     120      373.0000
...    ...      ...      ...
336747  305      45      406.6667
336748  529      72      440.8333
336749 1626     213      458.0282
336750  292      45      389.3333
336751  213      36      355.0000
336752 2475     298      498.3221
336753  284      47      362.5532
336754 1598     192      499.3750
336755 1076     139      464.4604
336756  200      37      324.3243
336757  209      39      321.5385
336758  301      50      361.2000
336759  378      61      371.8033
336760  764      97      472.5773
336761  872     120      436.0000
336762  273      48      341.2500
336763 2565     318      483.9623
336764  944     123      460.4878
336765  266      43      371.1628
336766  209      41      305.8537
336767  301      52      347.3077
336768  264      47      337.0213
336769  187      33      340.0000
336770 1617     196      495.0000
336771  764      NA            NA
336772  213      NA            NA
336773  198      NA            NA
336774  764      NA            NA
336775  419      NA            NA
336776  431      NA            NA

# A tibble: 336,776 x 3
   distance air_time speed
      <dbl>    <dbl> <dbl>
 1       96       75  76.8
 2      199      141  84.7
 3       94       61  92.5
 4       94       59  95.6
 5       96       60  96
 6       96       60  96
 7       96       59  97.6
 8      214      131  98.0
 9       96       57 101.
10       94       55 103.
# ... with 336,766 more rows