In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib Inline
from sklearn.cluster import KMeans

In [10]:
iris_data = pd.read_csv("Iris.csv")
iris_data = iris_data.drop('Species', axis = 1)
iris_data = iris_data.drop('Id',axis = 1)
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
# Split Dataset into train_test Purpose
X_train = iris_data[:130]
# X_train

In [12]:
X_test = iris_data[131:]
# X_test

In [13]:
#Applying kmeans to the dataset / Creating the kmeans classifier
kmeans = KMeans(n_clusters = 3, init = 'k-means++' )
kmeans.fit(X_train)

KMeans(n_clusters=3)

In [14]:
pred_kmeans = kmeans.predict(X_test)

In [15]:
X_test['Predicted_Cluster_Number'] = pred_kmeans
X_test

<ipython-input-15-6b66738dc637>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Predicted_Cluster_Number'] = pred_kmeans

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Predicted_Cluster_Number
131,7.9,3.8,6.4,2.0,1
132,6.4,2.8,5.6,2.2,1
133,6.3,2.8,5.1,1.5,0
134,6.1,2.6,5.6,1.4,1
135,7.7,3.0,6.1,2.3,1
136,6.3,3.4,5.6,2.4,1
137,6.4,3.1,5.5,1.8,1
138,6.0,3.0,4.8,1.8,0
139,6.9,3.1,5.4,2.1,1
140,6.7,3.1,5.6,2.4,1
141,6.9,3.1,5.1,2.3,1
142,5.8,2.7,5.1,1.9,0
143,6.8,3.2,5.9,2.3,1
144,6.7,3.3,5.7,2.5,1
145,6.7,3.0,5.2,2.3,1
146,6.3,2.5,5.0,1.9,0
147,6.5,3.0,5.2,2.0,1
148,6.2,3.4,5.4,2.3,1
149,5.9,3.0,5.1,1.8,0

Task: Wine Quality Dataset

- Remove Quality column from Dataset
- Split Dataset into 80% -20% Ratio
- Build Kmeans Model with Train Data
- Test Model with Test Data

In [8]:
red = pd.read_csv('winequality-red.csv')
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
red = red.drop('quality', axis = 1)

In [10]:
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [15]:
X_train = red[:1279]

In [14]:
X_test = red[1280:]

In [16]:
kmeans = KMeans(n_clusters = 3, init = 'k-means++' )
kmeans.fit(X_train)

KMeans(n_clusters=3)

In [17]:
pred_kmeans = kmeans.predict(X_test)

In [20]:
X_test['Predicted_Cluster_Number'] = pred_kmeans
X_test

<ipython-input-20-6b66738dc637>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Predicted_Cluster_Number'] = pred_kmeans

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Predicted_Cluster_Number
1280,7.1,0.460,0.20,1.9,0.077,28.0,54.0,0.99560,3.37,0.64,10.4,0
1281,7.1,0.460,0.20,1.9,0.077,28.0,54.0,0.99560,3.37,0.64,10.4,0
1282,7.9,0.765,0.00,2.0,0.084,9.0,22.0,0.99619,3.33,0.68,10.9,2
1283,8.7,0.630,0.28,2.7,0.096,17.0,69.0,0.99734,3.26,0.63,10.2,0
1284,7.0,0.420,0.19,2.3,0.071,18.0,36.0,0.99476,3.39,0.56,10.9,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,0